@import "../../assets/globals";

.Button {
  border-radius: $border-radius-button;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  box-shadow: $box-shadow-small;
  &:hover {
    background-color: var(--medium-gray);
  }
}
