@import "../../assets/globals";

.Board {
  background-color: var(--white);
  display: flex;
  padding: 0 5%;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  border-radius: $border-radius-large;
  box-shadow: $box-shadow-medium;
}
