@import "../../assets/globals";

.Space {
  width: 100%;
  flex: 1;
  border-radius: 100%;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  &--player-1 {
    background-color: vav(--player-1-color);
    box-shadow: $box-shadow-small;
  }

  &--player-2 {
    background-color: vav(--player-2-color);
    box-shadow: $box-shadow-small;
  }
}
