@import "../../assets/globals";

.PlayerStats {
  border-radius: $border-radius-small;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  box-shadow: $box-shadow-medium;
  background-color: var(--white);

  &--player-1 {
    background-color: var(--player-1-color);
  }

  &--player-2 {
    background-color: var(--player-2-color);
  }

  &__current-player-indicator {
    color: var(--white);
    border-bottom: 1px solid var(--white);
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
    margin: 0 25px;
  }

  &__turn-indicator-header {
    color: var(--dark-gray);
    border-bottom: 1px solid var(--dark-gray);
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
    margin: 0 25px;
  }

  &__turn-indicator {
    color: var(--dark-gray);
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
  }
}
