// BOX-SHADOW
$box-shadow-medium: 0px 7px 13px -5px rgba(0, 0, 0, 0.25);
$box-shadow-small: 0px 2px 4px rgba(0, 0, 0, 0.25);

// BORDER-RADIUS
$border-radius-large: 22px;
$border-radius-small: 7px;
$border-radius-button: 500px;
