// COLORS
$white: #ffffff;
$light-gray: #f3f3f3;
$medium-gray: #e2e2e2;
$dark-gray: #434343;
$player-1-blue: #499eeb;
$player-2-red: #eb2d53;
// Can't get this working?
$dark-overlay: hsla(0, 0%, 0%, 0.5);

// BOX-SHADOW
$box-shadow-medium: 0px 7px 13px -5px rgba(0, 0, 0, 0.25);
$box-shadow-small: 0px 2px 4px rgba(0, 0, 0, 0.25);

// BORDER-RADIUS
$border-radius-large: 22px;
$border-radius-small: 7px;
$border-radius-button: 500px;
