@import "../../assets/globals";

.ThemeSelector {
  //   background-color: green;
  display: flex;

  &__theme {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: red;
    margin-right: 10px;
    box-shadow: $box-shadow-small;
  }

  &__theme-pictonBlue {
    background-color: #499eeb;
  }

  &__theme-darkCyan {
    background-color: #167c80;
  }

  &__theme-neonGarden {
    background-color: #00ff66;
  }
}
